/.cover*
*.mo
/bin/node
/bin/npm
/downloads
/node_modules
/nodejs
/node*.tar.gz
/selenium
/bower_components
logs/*
!.gitkeep
tmp
.DS_Store
.idea
/var
/coverage
/static/admin/css
/static/admin/fonts
/static/admin/images
/static/admin/img
/static/admin/js
/static/embed/*.js
/static/embed/*.css
/static/geojson
/static/*.js
/static/tinymce
/static/embed/*.png
/static/embed/images
!/static/embed/images/README.md